# Ignore everything
*
!.gitignore

############ ROOT HTML #################
!/*.html

############ WP-CONTENT #################
!wp-content/
wp-content/*

### THEMES ###
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/divi-child/
!wp-content/themes/divi-child/**

### UPLOADS — Track ONLY 2025/11 ###
!wp-content/uploads/
wp-content/uploads/*
!wp-content/uploads/2025/
wp-content/uploads/2025/*
!wp-content/uploads/2025/11/
!wp-content/uploads/2025/11/**

### EXCLUSIONS ###
wp-content/themes/divi-child/node_modules/
!.vscode/
