# Ignore everything
*
!.gitignore

############ ROOT HTML #################
!/*.html

############ WP-CONTENT #################
!wp-content/
wp-content/*

### THEMES ###
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/dga/
!wp-content/themes/dga/**

### UPLOADS — Track ONLY 2025/11 ###
!wp-content/uploads/
wp-content/uploads/*
!wp-content/uploads/2025/
wp-content/uploads/2025/*
!wp-content/uploads/2025/11/
!wp-content/uploads/2025/11/**

### EXCLUSIONS ###
wp-content/themes/dga/node_modules/
!.vscode/

### INCLUDE jquery.min.js ###
!wp-includes/
!wp-includes/js/
!wp-includes/js/jquery/
!wp-includes/js/jquery/jquery.min.js

# Ignore compiled CSS output
!wp-content/themes/dga/assets/css/style.min.css
!wp-content/themes/dga/assets/css/style.min.css.map