@use 'abstracts/variables' as *;

.icon-row-section {
  padding: 60px 0;



  /* ============================
     HEADER LAYOUT MODIFIERS
     ============================ */

  &.header-row {
    .section-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &.header-column {
    .section-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width: 992px) {
        flex-direction: column;
      }
      .section-title,
      .section-description{
        max-width: unset;
        text-align: center;
        width: 100%;
        
      }
      .section-description{
        font-size: $fs-15;
      }
      
    }
  }

  /* ============================
     SECTION HEADER
     ============================ */
  .section-header {
    margin-bottom: 60px;

    .section-title {
      color: $dark;
      text-align: left;
      font-size: $fs-40;
      font-style: normal;
      font-weight: 700;
      line-height: $lh-60;
      max-width: 494px;
      @media (max-width: 991px) {
          max-width: unset;
          width: 100%;
          text-align: center  ;
        }
    }

    .section-description {
      max-width: 555px;
      color: $dark;
      text-align: right;
      font-size: $fs-25;
      font-style: normal;
      font-weight: 400;
      line-height: $lh-30;

      @media (max-width: 991px) {
          max-width: unset;
          width: 100%;
          text-align: center  ;
        }
    }
  }

  /* ============================
     ICONS WRAPPER
     ============================ */
  .icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 22px;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }

    .item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;

      @media (min-width: 768px) and (max-width: 992px) {
        width: calc(50% - 15px);
      }

      @media (min-width: 991px) {
        width: calc(33.333% - 15px);
      }
    }

    .icon-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      max-height: 97px;
      @media (max-width: 991px) {
          max-height: unset;
          flex-direction: column;
      }

      .title {
        margin: 0;
        font-weight: 700;

        @media (max-width: 991px) {

          text-align: center;
        }

        &.title-large {
          font-size: $fs-50;
          line-height: 50px;
        }

        &.title-small {
          font-size: $fs-25;
          line-height: normal;
        }
          br{
            @media (max-width: 768px) {
              display: none ;
            }
          }
      }
    }

    .description {
      text-align: center;
      font-size: $fs-14;
      font-style: normal;
      font-weight: 400;
      margin: 0;
    }
  }

  /* No Icon Modifier */
  &.no-icon {

    .icon-group{
      justify-content: flex-start;
    }
    .title {
      padding-left: 0 !important;
    }

    .description {
      text-align: left;
      @media (max-width: 992px) {
        text-align: center;
      }
    }
  }

  /* Bottom Text */
  .bottom-text {
    padding-top: 60px;

    * {
      color: $dark;
      text-align: center;
      font-size: $fs-14;
      font-style: normal;
      font-weight: 400;
      line-height: $lh-30;
    }
  }
}
